html, body {
    height: 100%;
    width: 100%;
  
  }
  
  
  h4 {
   color: #000073;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #about{
    
    display: flex;
    align-items: center;
   justify-content: space-between;
    
  }
  #victor{
     color: blue;
  }
   #footer {
   display: flex;
    justify-content: center;
   }
  
  #form {
    
      margin: 3px;
      }
  
    
